<div class="register-wrapper">
<div class="register-container">
<%= form_for(user, :html => { :class => 'register-form-container' }) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="name-container">
  <div class="field">
    <%= f.text_field :first_name, placeholder: "Primeiro nome", class: "register-input" %>
  </div>
  <div class="field">
    <%= f.text_field :last_name, placeholder: "Último nome", class: "register-input" %>
  </div>
</div>
  <div class="field">
    <%= f.text_field :email, placeholder: "E-mail" %>
  </div>

  <div class="field">
    <%= f.text_field :cpf, placeholder: "CPF" %>
  </div>

  <div class="field">
    <%= f.date_select :birth_date, placeholder: "Data de nascimento" %>
  </div>

  <div class="field">
    <%= f.text_field :gender, placeholder: "Gênero" %>
  </div>

  <div class="field">
    <%= f.number_field :phone, placeholder: "Telefone" %>
  </div>

  <div class="actions register-button-container">
    <%= f.submit 'Criar conta', class: "btn btn-primary"%>
  </div>
<% end %>
</div>
</div>