<div class="<%=css_module("manage_user","main-container") %>">

    <div  class="<%=css_module("manage_user","form-container") %>">
        <p>Nome:</p>
        <p><%= @user.first_name + " " + @user.last_name%></p>
        <br/>
        <p>Permissões atuais:</p>
        <p><%= @user.user_type %></p>
        <br/>
    </div>

    <div  class="<%=css_module("manage_user","form-container") %>">
        <div class="<%=css_module("manage_user","button-container") %>">
        <h3>Administrador</h3>
        <%if @user.user_type != nil and @user.user_type.include? "admin"%>
            <%= button_to "Remover permissão",
            update_permission_manage_user_path(id: @user.id, action_type: "remove admin"),
            class: "btn btn-danger" %>
        
        <%else%>
            <%= button_to "Adicionar permissão",
            update_permission_manage_user_path(id: @user.id, action_type: "add admin"), 
            class: "btn btn-info" %>
        
        <%end%>
        <h3>Gerente</h3>
        <%if @user.user_type != nil and @user.user_type.include? "manager"%>
            <%= button_to "Remover permissão",
            update_permission_manage_user_path(id: @user.id, action_type: "remove manager"), 
            class: "btn btn-danger" %>
        <%else%>
            <%= button_to "Adicionar permissão",
            update_permission_manage_user_path(id: @user.id, action_type: "add manager"), 
            class: "btn btn-info" %>
        <%end%>
    </div>
</div>


</div>