<div class="<%=css_module("products","main-container") %>">
  <div>
    <div class="<%=css_module("products", "grid-container")%>">

        <% @products.each do |product| %>
        <div class="<%=css_module("products","shopping-container") %>">
          <div class="<%= css_module("products", "info-product-container")%>">
            <div class="<%=css_module("products","div-image") %>">
              <%= image_tag product.product_image.url(:thumb) %>
            </div>

            <div class="<%=css_module("products","product-info") %>">
              <%= link_to product.name, product, class: css_module("products","product-title") %>

              <h6><b>Price</b></h6>
              R$ <%= product.price %>

              <h6><b>Stock</b></h6>
              <%= product.stock %>
            </div>
          </div>
          <div class="<%= css_module("products", "card-buttons")%>">
            <%= link_to "<button type='button' class='btn btn-info'>Editar</button>".html_safe, edit_product_path(product) %>
            <%= link_to "<button type='button' class='btn btn-danger'>Deletar</button>".html_safe, product, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
        <% end %>

    </div>
</div>

<br>



</div>
