<div class="<%=css_module("products","main-container") %>">

  <div>
  
    <div class="<%=css_module("products","button-new-product") %>">
      <%= link_to 'New Product', new_product_path %>
    </div>

    <div class="<%=css_module("products", "grid-container")%>">

        <% @products.each do |product| %>
        <div class="<%=css_module("products","shopping-container") %>">
          <div class="<%= css_module("products", "info-product-container")%>">
            <div class="<%=css_module("products","div-image") %>">
              <%= image_tag product.product_image.url(:thumb) %>
            </div>

            <div class="<%=css_module("products","product-info") %>">
              <h6><%= product.name %></h6>

              <h6>Price</h6>
              R$ <%= product.price %>

              <h6>Stock</h6>
              <%= product.stock %>
            </div>
          </div>
          <div class="<%= css_module("products", "card-buttons")%>">
            <%= link_to 'Show', product %>
            <%= link_to 'Edit', edit_product_path(product) %>
            <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
        <% end %>

    </div>
</div>

<br>



</div>
