<div class="<%= css_module("products_show", "main-container") %>">
  <div class="<%= css_module("products_show", "shopping-container") %>">
    <div class="<%= css_module("products_show", "info-product-container")%>">
      <div class="<%=css_module("products_show","div-image") %>">
        <%= image_tag @product.product_image.url(:medium), class: css_module("products_show", "image-field") %>
      </div>

      <div class="<%=css_module("products_show","product-info") %>">
        <h2><b><%= @product.name %></b></h2>

        <h4><b>Price</b></h4>
        R$ <%= @product.price %>

        <h4><b>Stock</b></h4>
        <%= @product.stock %>

        <%= link_to "Adicionar ao Carrinho", order_items_path(order_item: {quantity: 1, product_id: @product}),
        class:'btn btn-success btn-lg btn-block', method: :post %>


      </div>
    </div>

    <div class="info-container">
      <h3><b>Product Description</b></h3>
      <%= @product.description.html_safe%>
    </div>
  </div>
</div>



 <!-- <%= link_to 'Edit', edit_product_path(@product), style: "display: none;" %> -->
