<div class="<%= css_module("header","main-container")%>" >
    <div class="<%= css_module("header", "left-content") %>">
        <%= link_to root_path do %>
            <%= image_tag('logo.png', class: css_module("header","logo")) %>
        <% end %>

        </div>
        <div class="<%= css_module("header", "right-content")%>" >
            <%= link_to 'Produtos', products_path %>
            <%if logged_in? %>
                <%= link_to 'Carrinho', root_path %>
                <%= link_to 'Logout', logout_path %>
            <% else %>
                <%= link_to 'Login', login_path %>
                <%= link_to 'Cadastro', new_user_path %>
                <%= link_to 'Carrinho', root_path %>
            <% end %>

        </div>
        <div class="<%= css_module("header", "dropdown")%>">
          <button class="<%= css_module("header", "dropbtn")%>">
            <i class="fa fa-bars"></i>
          </button>
          <div class="<%= css_module("header", "dropdown-content")%>">
            <%= link_to 'Produtos', products_path %>
            <%if logged_in? %>
                <%= link_to 'Carrinho', root_path %>
                <%= link_to 'Logout', logout_path %>
            <% else %>
                <%= link_to 'Login', login_path %>
                <%= link_to 'Cadastro', new_user_path %>
                <%= link_to 'Carrinho', root_path %>
            <% end %>
          </div>
        </div>
    </div>
</div>
