<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="nav-side-menu <%=css_module("main","sidebar")%>">
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="div-image-logo">
          <%= link_to root_path do %>
              <%= image_tag('logo.png', class: "image-logo") %>
          <% end %>
        </div>

        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <li  data-toggle="collapse" data-target="#products" class="collapsed">
                  <a href="#"><i class="fa fa-gift fa-lg"></i> Produtos <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li><%= link_to 'Cadastrar', new_product_path %></li>
                    <li><%= link_to 'Visualizar Produtos', products_path %></li>
                </ul>

                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="#"><i class="fa fa-gift fa-lg"></i> Categorias <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="service">
                  <li>Cadastrar</li>
                  <li>Visualizar Categorias</li>
                </ul>

                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="#"><i class="fa fa-users fa-lg"></i> Usuários <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="new">
                  <li>Gerenciar</li>
                </ul>

               <li>
                   <a href="/logout/">
                     <i class="fa fa-user fa-lg"></i> Sair
                   </a>
              </li>
          </ul>
     </div>
</div>
