<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceBackend</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
  </head>

  <body>
    <% if logged_in? %>
      <% if current_user.user_type.to_s.include?("user") %>
        <%= render "layouts/header" %>
      <% else %>
         <%= render "layouts/header" %>
      <% end %>
    <% else %>
      <%= render "layouts/header" %>
    <% end %>

    <div class="<%=css_module("main","container")%>">
      <div class="<%=css_module("main","left-content")%>">
        <% if current_user != nil %>
          <%= current_user.show_admin_options %>
        <% end %>
      </div>
        <div class="<%=css_module("main","right-content")%>">
        <%= yield %>
      </div>
    </div>
  </body>
<footer>
  <%= render "layouts/footer" %>

</footer>
</html>
